/* EmployerDashboard.css */
.employer-dashboard {
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s;
  }
  
  .menu-open .bar:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-open .bar:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    transform: translateX(-100%);
  }
  
  .menu-open .sidebar {
    transform: translateX(0);
  }
  
  .WelcomeE {
    color: white;
    align-items:center;
    font-size:20px;
    margin-bottom:50px;
  }
  .sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }
  
  .content {
    flex-grow: 1;
    padding: 10px;
  }
  